.ts-message {
  position: relative;
  color: #2C2D30;
  font-size: 15px;
  line-height: 22px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-wrap: break-word;
  min-height: 46px;

  &::after {
    display: table;
    content: " ";
    clear: both;
  }

  * {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .message_gutter {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    padding-right: 10px;
  }

  .message_icon {
    margin-top: 4px;
    display: block;
  }

  .member_image {
    border-radius: .2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    &.thumb_36 {
      width: 36px;
      height: 36px;
    }
  }

  .message_content {
    margin-left: 46px;
    margin-top: 1px;
  }

  .message_content_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
  }

  .message_content_header_left {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .message_content .message_sender {
    font-weight: 900;
    color: #2C2D30 !important;
    line-height: 18px;
  }

  .message_content > .message_content_header > .message_content_header_left > .message_sender {
    margin-right: .25rem;
  }

  .message_body {
    display: block;
  }

  .ts_tip {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .timestamp {
    color: #9e9ea6 !important;
    font-size: 12px;
    white-space: nowrap;
    line-height: 18px;
    display: none;
  }

  .attachment_group {
    max-width: 600px;
    width: 100%;
    margin: .4rem 0;

    .inline_attachment {
      position: relative;
      border-radius: 0;
      margin: 0 0 0 4px;
      padding: 4px 0;
      font-size: 0;
      line-height: 0;
    }

    .attachment_row {
      width: 100%;
      padding: 0 12px;
      margin: 12px 0;

      &.attachment_flush {
        margin:0 0 1px 0;
      }
    }

    .attachment_column {
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      line-height: 22px;

      &.column_border {
        background-color: #E8E8E8;
        border-radius: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -4px;
        width: 4px;
        z-index: 1;
      }
    }

    .attachment_source a {
      color: #9e9ea6 !important;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;

      .attachment_source_icon {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        margin-right: .4rem;
        position: relative;
        top: -2px;
      }
    }

    .attachment_thumb {
      max-width: 60px !important;
      max-height: 60px !important;
    }
  }

  &:hover {

    .timestamp {
      display: inline-block;
    }
  }
}
